.particles-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
    overflow: hidden;
    z-index: 0;
}

.interactive-particle {
    position: absolute;
    width: 4px;
    height: 4px;
    background: #EDAE49;
    border-radius: 50%;
    opacity: 0.8;
    
    transition: transform 0.1s ease-out;
    
    /* Flare Effect */
    box-shadow: 
        0 0 6px rgba(237, 174, 73, 0.8),   /* inner glow */
        0 0 12px rgba(237, 174, 73, 0.6),  /* middle glow */
        0 0 24px rgba(255, 220, 150, 0.4); /* outer glow */
        
    will-change: transform;
    backface-visibility: hidden;
    transform: translateZ(0);
    z-index: 1;
}

.options-container{
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
    padding: 0.75rem;
    width: fit-content;
    margin: 1rem;
    z-index: 2;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}