.wiki-path-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.wiki-path-container .title {
    font-size: 2rem;
    font-weight: 600;
}

.game-panels {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 768px) {
    .game-panels {
        flex-direction: column;
    }
}

.game-panel {
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.5);
    gap: 1rem;
    align-items: center;
    padding: 1rem;
    border-radius: 1rem;
    justify-content: center;
    width: fit-content;
}

.start-button {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 1rem;
}

.embedded-wiki {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    padding: 1rem;
    flex: 1;
    overflow-y: scroll;
}

.hover-target {
    position: relative;
    display: inline-block;
    cursor: help;
}

.hover-card {
    visibility: hidden;
    opacity: 0;
    width: 250px;
    background: #fff;
    color: #333;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 8px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    transition: opacity 0.2s;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.hover-target:hover .hover-card {
    visibility: visible;
    opacity: 1;
}

.hover-card.visible {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: visible;
    opacity: 1;
}